/*
	Crystal Template 
	http://www.templatemo.com/tm-437-crystal
*/

body {
    background: #FFFFFF;
    color: #555555;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    position: relative;
}

.blue {
    color: #06C;
}

.green {
    color: #090;
}

.orange {
    color: #C60;
}

.white {
    color: #FFF;
}

.myblue {
    color: #477bc7;
}

.myblue-title {
    color: #00377c;
    font-weight: bold;
}

.myred-title {
    color: #a61b28;
    font-weight: bold;
}

.myred {
    color: #a61b28;
}

.authors {
    color: #000000;
    font-size: smaller;
}

.papers-list {
    text-decoration-line: blink;
}

.mygold {
    color: #477bc7;
}

.myorange {
    color: #ffb703;
}

.mywhite {
    color: #ffffff;
}

.mypurple{
    color: #9b51e0;
}

.mypurple-title {
    color: #9b51e0;
    font-weight: bold;
}

.stretch {
    text-decoration: line-through;
}




/* start home */
h1 {
    margin: 0;
}


.flexslider {
    margin: 0 0 60px;
    background: #fff;
    padding: 0;
    position: relative;
    zoom: 1;
    background-color: #371604;
    overflow: hidden;
    margin: 0;
    height: 500px;
}

.flexslider .slides {
    padding: 0;
    zoom: 1;
    height: 80%;
}

.flexslider .slides img {
    width: 100%;
    min-width: 648px;
    min-height: 270px;
    display: block;
    overflow: hidden;
    height: 675px;
}

.flexslider .slides > li {
    display: none;
    padding: 0;
    position: relative;
    -webkit-backface-visibility: hidden;
}

.flexslider img {
    position: relative;
    width: 100%;
}

.slider-caption {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    z-index: 7;
    width: 100%;
    height: 100%;
    margin: 45px 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: top;
    -ms-flex-align: center;
    align-items: top;

    text-shadow: -0.75px -0.75px 0 #000,
    0.75px -0.75px 0 #000,
    -0.75px 0.75px 0 #000,
    0.75px 0.75px 0 #000;

}

#home h1,
#home h2 {
    font-weight: bold;
}

#home h2 {
    padding: 0px 0 10px 0;
}

#home .btn {
    background: #E1BB60;
    border-radius: 0;
    border: 2px solid transparent;
    color: #FFFFFF;
    font-weight: bold;
    margin: 0px 0 0 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    height: 50px;
    width: 250px;
    padding: 12px 10px 10px 10px;
}

#home .btn:hover {
    background: #FFFFFF;
    color: #E1BB60;
}

#home p {
    letter-spacing: 1px;
}

/* end home */

/* start simpletextrotator */
.rotating {
    display: inline-block;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
    transform: rotateX(0) rotateY(0) rotateZ(0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform-origin-x: 50%;
}

.rotating.flip {
    position: relative;
}

.rotating .front, .rotating .back {
    left: 0;
    top: 0;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.rotating .front {
    position: absolute;
    display: inline-block;
    -webkit-transform: translate3d(0, 0, 1px);
    -ms-transform: translate3d(0, 0, 1px);
    transform: translate3d(0, 0, 1px);
}

.rotating.flip .front {
    z-index: 1;
}

.rotating .back {
    display: block;
    opacity: 0;
}

.rotating.spin {
    -webkit-transform: rotate(360deg) scale(0);
    -ms-transform: rotate(360deg) scale(0);
    transform: rotate(360deg) scale(0);
}

.rotating.flip .back {
    z-index: 2;
    display: block;
    opacity: 1;

    -webkit-transform: rotateY(180deg) translate3d(0, 0, 0);
    -ms-transform: rotateY(180deg) translate3d(0, 0, 0);
    transform: rotateY(180deg) translate3d(0, 0, 0);
}

.rotating.flip.up .back {
    -webkit-transform: rotateX(180deg) translate3d(0, 0, 0);
    -ms-transform: rotateX(180deg) translate3d(0, 0, 0);
    transform: rotateX(180deg) translate3d(0, 0, 0);
}

.rotating.flip.cube .front {
    -webkit-transform: translate3d(0, 0, 100px) scale(0.9, 0.9);
    -ms-transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
    transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
}

.rotating.flip.cube .back {
    -webkit-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.9, 0.9);
    -ms-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
    transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
}

.rotating.flip.cube.up .back {
    -webkit-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.9, 0.9);
    -ms-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
    transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
}

/* end simpletextrotator */

/* start about */
#about {
    min-height: 300px;
    padding: 80px 0 80px 0;
}

#about h2,
#about h3 {
    font-weight: bold;
}

#about .col-md-7 h3 {
    padding: 12px 0 0 0;
}

#about .col-md-7 h2 {
    color: #E1BB60;
    padding: 10px 0 10px 0;
    margin: 10px 0 32px 0;
}

#about .col-md-5 .col-md-6 {
    padding: 4px;
}

#about .col-md-5 h3 {
    padding: 10px 0 10px 0;
}

#about .col-md-5 img {
    width: 200px;
    height: 100px;
}

#about p {
    font-weight: 400;
    text-align: justify;
}

/* end about */

/*start aims */
#aims {
    min-height: 300px;
    padding: 80px 0 80px 0;
    background: #477bc7;
    color: #FFFFFF;
}

#aims h2,
#aims h3
#aims h4 {
    font-weight: bold;
}

#aims .col-md-7 h3 {
    padding: 12px 0 0 0;
}

#aims .col-md-7 h2 {
    color: #E1BB60;
    padding: 10px 0 10px 0;
    margin: 10px 0 32px 0;
}

#aims .col-md-5 .col-md-6 {
    padding: 4px;
}

#aims .col-md-5 h3 {
    padding: 10px 0 10px 0;
}

#aims .col-md-5 img {
    width: 200px;
    height: 100px;
}

#aims p
{
    font-weight: 400;
    text-align: justify;
}

/* end aims */


/*start acceptedPapers */
#acceptedPapers {
    min-height: 300px;
    padding: 80px 0 80px 0;
    background: #477bc7;
    color: #FFFFFF;
}

#acceptedPapers h2,
#acceptedPapers h3
#acceptedPapers h4 {
    font-weight: bold;
}

#acceptedPapers .col-md-7 h3 {
    padding: 12px 0 0 0;
}

#acceptedPapers .col-md-7 h2 {
    color: #E1BB60;
    padding: 10px 0 10px 0;
    margin: 10px 0 32px 0;
}

#acceptedPapers .col-md-5 .col-md-6 {
    padding: 4px;
}

#acceptedPapers .col-md-5 h3 {
    padding: 10px 0 10px 0;
}

#acceptedPapers .col-md-5 img {
    width: 200px;
    height: 100px;
}

#acceptedPapers p
{
    font-weight: 400;
    text-align: justify;
}

#paper {
	font-weight: bold;
	color: #ffb703;
}

/* end acceptedPapers */


/*start organization */
#organization {
    min-height: 300px;
    padding: 80px 0 80px 0;
}

#organization h2,
#organization h3
#organization h4 {
    font-weight: bold;
}

#organization p
{
    font-weight: 400;
    text-align: justify;
}
/* end organization */


/*start cfp */
#cfp {
    min-height: 300px;
    padding: 80px 0 80px 0;
    background: #477bc7;
    color: #FFFFFF;
}

#cfp h2,
#cfp h3
#cfp h4 {
    font-weight: bold;
}

#cfp .col-md-7 h3 {
    padding: 12px 0 0 0;
}

#cfp .col-md-7 h2 {
    color: #E1BB60;
    padding: 10px 0 10px 0;
    margin: 10px 0 32px 0;
}

#cfp .col-md-5 .col-md-6 {
    padding: 4px;
}

#cfp .col-md-5 h3 {
    padding: 10px 0 10px 0;
}

#cfp .col-md-5 img {
    width: 200px;
    height: 100px;
}

#cfp p
{
    font-weight: 400;
    text-align: justify;
}

/* end cfp */

/*start competition */
#competition {
    min-height: 300px;
    padding: 80px 0 80px 0;
    background: #f7941d;
    color: #000000;
}

#competition h2,
#competition h3
#competition h4 {
    font-weight: bold;
}

#competition .col-md-7 h3 {
    padding: 12px 0 0 0;
}

#competition .col-md-7 h2 {
    color: #E1BB60;
    padding: 10px 0 10px 0;
    margin: 10px 0 32px 0;
}

#competition .col-md-5 .col-md-6 {
    padding: 4px;
}

#competition .col-md-5 h3 {
    padding: 10px 0 10px 0;
}

#competition .col-md-5 img {
    width: 200px;
    height: 100px;
}

#competition p
{
    font-weight: 400;
    text-align: justify;
}

/* end competition */

/*start keynote */
#keynote {
    min-height: 300px;
    padding: 80px 0 80px 0;
    background: #404040;
    color: #FFFFFF;
}

#keynote h2,
#keynote h3
#keynote h4 {
    font-weight: bold;
}

#keynote .col-md-7 h3 {
    padding: 12px 0 0 0;
}

#keynote .col-md-7 h2 {
    color: #E1BB60;
    padding: 10px 0 10px 0;
    margin: 10px 0 32px 0;
}

#keynote .col-md-5 .col-md-6 {
    padding: 4px;
}

#keynote .col-md-5 h3 {
    padding: 10px 0 10px 0;
}

#keynote .col-md-5 img {
    width: 200px;
    height: 100px;
}

#keynote p
{
    font-weight: 400;
    text-align: justify;
}

/* end keynote */

/* start team */
#team {
    background: #00377c;
    color: #FFFFFF;
    min-height: 300px;
    padding: 80px 0 80px 0;
}


#team h3 {
    font-weight: bold;
    letter-spacing: 1px !important;
    padding-bottom: 30px;
}

#team .team_thumb {
    overflow: hidden;
    position: relative;
    margin: 30px 0 0 0;
}

#team .team_thumb img {
    width: 100%;
    height: auto;
}

h5 {
    margin: 0;
}

#team .team_thumb .team_overlay {
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    position: absolute;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#team .team_thumb:hover .team_overlay {
    opacity: 0.8;
}

#team .team_description {
    background: #303030;
    text-align: center;
    padding: 10px;
}

#team .team_description h5 {
    color: #E1BB60;
    text-align: center;
    padding-bottom: 10px;
}

#team p {
    font-weight: 400;
}

/* end team */

#program {
    padding: 80px 0 80px 0;
}

#program h2,
#program h3 {
    font-weight: bold;
}

@media all and (max-width: 768px){

    #program .rotate{
        display: none;
    }
    #program .time{
        display: none;
    }
}

/* start social icon */
.social_icon {
    padding: 0;
}

.social_icon li {
    display: inline-block;
    position: relative;
}

ul {
    margin-bottom: 0;
}

.social_icon li a {
    background: #303030;
    border-radius: 50%;
    cursor: pointer;
    color: #FFFFFF;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.social_icon li a:hover {
    background: #00377c;
    color: #FFFFFF;
}

footer .social_icon {
    margin-top: 10px;
}

/* end social icon */

/* start service */
#service {
    min-height: 300px;
    padding: 80px 0 60px 0;
}

#service h3 {
    color: #333;
    font-weight: bold;
    letter-spacing: 1px !important;
    padding-bottom: 30px;
}

#service .media {
    padding: 40px 0 10px 0;
}

#service .media .fa {
    background: #E1BB60;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 24px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin: 0 10px 0 0;
    padding-right: 0;
}

#service .media .media-heading {
    color: #E1BB60;
    font-weight: bold;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
}

#service {
    font-weight: 400;
}

/* end service */

/* start newsletter */
#newsletter {
    background: url('../images/newsletter-bg.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    color: #FFFFFF;
    min-height: 300px;
    padding: 80px 0 80px 0;
}

#newsletter h3 {
    font-weight: bold;
    letter-spacing: 1px !important;
    padding-bottom: 30px;
}

#newsletter p {
    font-weight: 400;
    padding: 0 0 30px 0;
}

#newsletter form .form-control {
    background: #404040;
    border: none;
    border-radius: 2px;
    box-shadow: none;
    color: #FFFFFF;
    height: 50px;
    margin-bottom: 10px;
    opacity: 0.9;
}

#newsletter .form-control::-moz-placeholder {
    color: #FFFFFF;
    opacity: 1;
}

#newsletter .form-control:-ms-input-placeholder {
    color: #FFFFFF;
}

#newsletter .form-control::-webkit-input-placeholder {
    color: #FFFFFF;
}

#newsletter input[type="submit"] {
    background: #E1BB60;
    border: none;
    color: #FFFFFF;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#newsletter input[type="submit"]:focus,
#newsletter input[type="submit"]:hover {
    background: #FFFFFF;
    color: #E1BB60;
}

/* end newsletter */




@media only screen and (max-width: 1199px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }
}

/* start 768 media quires */
@media only screen and ( max-width: 768px ) {
    .navbar-header {
        padding-left: 15px;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 18px;
    }

    #home .btn {
        margin-top: 10px;
        width: 180px;
        height: 40px;
        padding-top: 8px;
    }

    #team .team_thumb .team_overlay {
        background: #FFFFFF;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        opacity: 0;
        position: absolute;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
}

/* end 768 media quires */

@media only screen and (max-width: 640px) {
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 14px;
    }

    #home .btn {
        width: auto;
        height: auto;
        padding: 10px 20px;
        margin-top: 10px;
    }
}

/* start 360 media quires */
@media only screen and ( max-width: 360px ) {
    #team .team_thumb .team_overlay {
        background: #FFFFFF;
        width: 100%;
        height: 100%;
        line-height: 220px;
        top: 0;
        bottom: 0;
        opacity: 0;
        position: absolute;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
}

/* end 360 media quires */

.lightbox {
    background: url(../images/bg_alpha30.png);
    margin-top: 20px;
    padding: 30px 0;
    height: fit-content;
    float: left;
    width: 100%;
}

ul.list-unstyled li {
    margin: 10px 0;
}

.timeline {
    margin: auto;
    padding: 20px 10px;
    background-color: #fff;
    border-radius: 5px;
    max-height: 300px;
    width: 220px;
    font-weight: normal;
    line-height: 24px;
    color: #292F33;
    text-transform: none;
    text-shadow: none;
}

.timeline-Header-title {
    font-size: 21px;

}

@media only screen and ( max-width: 1024px ) {
    .timeline {
        display: none;
    }
}

table.table-bordered {
    /*border:1px solid #a61b28;*/
    margin-top: 20px;
    padding: 10px;
}

table.table-bordered > thead > tr > th {
    border-bottom: 1px solid #a61b28;
    padding: 10px;

}

table.table-bordered > tbody > tr > td {
    border-top: 1px solid #a61b28;
    padding: 10px;
    border-bottom: 1px solid #a61b28;
}


table.table-bordered > tbody > tr > td > p > em {
    color: #a61b28;
}

.rotate {
    white-space: nowrap;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}


/*
programNew
*/

#programNew {
    min-height: 300px;
    padding: 80px 0 80px 0;
}

#programNew h2 {
    font-weight: bold;
}

#programNew .tabs-schedule.nav-tabs {
    border: 0px;
    border-bottom: 2px solid #f5f5f5;
    margin-bottom: 40px;
    margin-left: 0px;
    text-align: center;
}

#programNew .tabs-schedule.nav-tabs > li {
    padding: 0px;
}

#programNew .tabs-schedule.nav-tabs > li > a {
    font-size: 20px;
    display: block;
    padding: 4px 20px;
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    margin-bottom: -2px;
    position: relative;
    border: 0px;
}

#programNew .tabs-schedule.nav-tabs > li > a:after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #477bc7;
    transition: all .3s;
    -webkit-transition: all .3s;
}

#programNew .tabs-schedule.nav-tabs > li > a span {
    font-size: 12px;
    display: block;
    color: #999;
    font-family: #477bc7;
    font-weight: 400;
}

#programNew .tabs-schedule.nav-tabs > li > a.active,
#programNew .tabs-schedule.nav-tabs > li > a:hover {
    color: #477bc7;
}

#programNew .tabs-schedule.nav-tabs > li > a.active:after,
#programNew .tabs-schedule.nav-tabs > li > a:hover:after {
    width: 100%;
}

#programNew .event-info {
    padding-right: 30px;
    text-align: right;
    text-transform: uppercase;
}

#programNew .event-info span {
    display: block;
    font-size: 16px;
}

#programNew .event-info .event-hall {
    margin-top: 10px;
    font-style: normal;
    font-size: 12px;
    padding: 3px 10px;
    border-right: 3px solid #477bc7;
    background: #f5f5f5;
    font-weight: 400;
}

#programNew .event-detail {
    border-left: 2px solid #477bc7;
    padding-left: 30px;
    position: relative;
}

#programNew .event-detail:before {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background: #fff;
    position: absolute;
    left: -7px;
    top: 10px;
    content: "";
}

#programNew .event-detail:after {
    content: "\f105";
    font-family: "FontAwesome";
    position: absolute;
    left: -2px;
    top: 3px;
    color: #477bc7;
    font-size: 28px;
}

#programNew .event-detail h3 {
    margin-bottom: 20px;
}

#programNew .event-detail h3 a {
    color: #555;
}

#programNew .event-detail .img-fluid {
    border-radius: 5px;
}

#programNew .event-detail h4 {
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 14px;
    color: #666;
}